body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background: linear-gradient(to right, #FF5EDF, #04C8DE);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center {
  display: flex;
  justify-content: center;
}

button {
  cursor: pointer;
}

.particle {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}